/**
 * Copy of the CSS file from the node_modules package, including an additional
 * font-display directive.
 */
@font-face {
    font-display: block;
    font-family: "Material Icons";
    font-style: normal;
    font-weight: 400;
    src: url("../../node_modules/material-icons/iconfont/MaterialIcons-Regular.eot");
    /* For IE6-8 */
    src: local("Material Icons"), local("MaterialIcons-Regular"), url("../../node_modules/material-icons/iconfont/MaterialIcons-Regular.woff2") format("woff2"), url("../../node_modules/material-icons/iconfont/MaterialIcons-Regular.woff") format("woff"), url("../../node_modules/material-icons/iconfont/MaterialIcons-Regular.ttf") format("truetype");
}

.material-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}
